language: python
python:
  - "2.7"
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install libhdf5-serial-dev
install:
  # (1) Install cython and numexpr externally because the requirements does
  #     work with them
  # (2) Pytables breaks with latest Cython
  #     see https://github.com/PyTables/PyTables/issues/388
  - pip install numexpr cython==0.20
  - pip install -r dev_requirements.txt
  - pip install coveralls
  - python setup.py develop
  - pushd examples/plugin
  - python setup.py develop
  - popd
script:
  - flake8 .
  - coverage run -m unittest discover
  - python setup.py build_sphinx
after_success:
  - coveralls
