git+https://github.com/simphony/simphony-metaparser.git@0.2.0#egg=simphony_metaparser
git+https://github.com/simphony/simphony-metatools.git#egg=simphony_metatools
sphinx >= 1.3.1
tabulate >= 0.7.4
mock==1.0.1
coverage
flake8<3
hypothesis
# Pinned because older versions return status 2 for successful
# operation, which is considered an error by setup.py
yapf==0.14.0
six
